{% extends 'base.html' %}

{% block content %}
<div class="container w-50 mt-5">
  <h1>Agregar retroalimentación</h1>
  {% if success %}
  <div class="alert alert-success" role="alert">
    {{ success }}
  </div>
  {% endif %}
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {% endif %}
  <form action="/jefe/teams/reunion/{{equipo_id}}/retroalimentacion/{{reunion_id}}" method="post">
    {% csrf_token %}
    <div class="form-outline mt-4 mb-4">
      <label class="form-label" for="id_retroalimentacion">Retroalimentación:</label>
      <textarea class="form-control" name="retroalimentacion" id="id_retroalimentacion" style="height: 100px" required></textarea>
    </div>
    <!-- Submit button -->
    <div class="d-grid">
      <button class="btn btn-primary mb-4">Agregar retroalimentación</button>
    </div>
  </form>
</div>
{% endblock %}