{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1>Trabajadores creados</h1>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    {% for trabajador in trabajadores %}
    <tbody>
      <tr>
        <td>{{trabajador.username}}</td>
        <td>{{trabajador.nombre}}</td>
        <td>{{trabajador.apellidos}}</td>
        <td>{{trabajador.email}}</td>
        <td class="d-flex align-items-center" >
          <a href="/jefe/trabajadores/{{trabajador.id}}"><i class="fa-regular fa-pen-to-square"></i></a>
          <form action="{% url 'eliminarTrabajador' trabajador.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-link">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}